.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(192, 216, 238); */
}

.signin {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    gap: 20;
    border-style: solid;
}

.signin-btn {
    width: 100px;
    height: 50px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 20px !important;
}

.sign-div {
    margin: auto;
    border: 1px none;
    height: 350px;
    width: 600px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px 10px #d6d5d5;
    /* box-shadow: 10px 10px 5px lightblue ; */
}