.logo-image {
    width: 100px; /* Adjust the width as needed */
    height: auto;
  }
  .topbar-main{
    /* color:rgba(237, 128, 45, 0.852); */
    background-color: #fc7c00;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  
  }
  
  /* Topbar.css */
  .nav-link-texts {
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #fff;
    background-color: rgba(137, 67, 9, 0.082); /* Add a background color on hover */
    border-radius: 5px; /* Add rounded corners */
    text-decoration: none; /* Remove underline on hover */
  }

  .cart-icon{
    position: relative;
    margin-right: 10px;
}

.objlength{
    position: absolute;
    top: 28px;
    color: rgb(1 8 24);
    border-radius: 10px;
    background-color: rgb(229 31 159);
    height: 26px;
    width: 24px;
} 

.search-box {
  width: 80rem;
  height: 40px;
  border: 1px none;
  border-radius: 15px;
  margin-left: 5px;
}

#navbar-nav.nav-items {
  margin-left: 158px;
}